/* INIT */

$experimental-support-for-mozilla: true;
$experimental-support-for-webkit: true;
$experimental-support-for-opera: true;
$experimental-support-for-microsoft: true;
$experimental-support-for-khtml: true;
@import "compass";

$colorMenu: scale-lightness(#606060, 8%);
$fontColorMenu: scale-lightness($colorMenu, -80%);
$selectedMenu: scale-lightness($colorMenu, -20%);
$fontSelectedMenu: scale-lightness($selectedMenu, -60%);
$hoverMenu: scale-lightness($colorMenu, -10%);
$fontHoverMenu: scale-lightness($hoverMenu, -60%);

/* POLICE */


@include font-face(	"molecular", 
					font-files("MOLECULA.woff", woff,
								"MOLECULA.ttf", truetype,
								"MOLECULA.svg#molecular, svg"), 
								$eot: "MOLECULA.eot");

/* Main */

html {
	body {
		margin: 0;
		text-align: center;

		canvas{
		}

		#particles-js{
			position: fixed;
			z-index: -1;
			height: 100%;
			width: 100%;
			background:#b61924;
			padding-top: 250px;
		}
		header {
			min-height: 200px;
			width: 100%;
			font-family: "molecular";
			font-size: 70px;
			line-height: 80px;
			padding-top: 50px;
			color: white;
		}
		section {
			background-color: white;
			@include border-radius(8px);
			width: 70%;
			min-height: 500px;
			position: absolute;
			left: 15%;
			z-index: 2;
			margin-bottom: 50px;

			div#head {
				@include border-top-radius(8px);
				height: 50px;
				a {
					color: $fontColorMenu;
					position: relative;
					line-height: 47px;
				}

				.menu {
					background-color: $colorMenu;
					width: 20%;
					height: 50px;
					@include inline-block();
					&:hover {
						background-color: $hoverMenu;
						color: $fontHoverMenu;
					}
				}
				.selected {
					background-color: $selectedMenu !important;
					color: $fontSelectedMenu !important;
				}

				.rightIcon {
					@include border-top-right-radius(8px);
				}

				.leftIcon {
					@include border-top-left-radius(8px);
				}
			}

			div#container {
				text-align: left;
				padding: 15px;
				@include box-shadow(inset 0px 1px 1.5px 0.5px #656565);

				.homeOrgan {
					text-align: center;
					width: 30%;
					height: 515px;
					margin-right: 5%;
					@include inline-block();
					line-height: 15px;
					#imgHeart {
						background-image: url("/img/heart.png");
					}
					#imgPancreas {
						background-image: url("/img/pancreas.png");
					}
				}
				.homeOrganLast {
					text-align: center;
					width: 30%;
					height: 515px;
					@include inline-block();
					line-height: 15px;
					#imgKidney {
						background-image: url("/img/kidney.png");
					}
				}
				.imgOrgan {
					width: 100%;
					height: 500px;
					@include background-size(contain);
					background-position: center;
					background-repeat: no-repeat;
				}
			}
		}
		
	}
}

/* MEDIA QUERRIES */

/* GENERAL */

